body {
    background: white url("images/background4.png") no-repeat;
    background-position: left;
}



li a {
    color: green;
}

.box{
    text-indent: 7%; /* 글자 들여쓰기 */
    padding-top: 10px; /* 위쪽 여백 */
    line-height: 23px; /* 글자 간격 */
    margin-top: 20px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(111, 112, 114, 0.3);
    height : 200px;
    width: 500px;
}

button -> input 으로 변경
    button{
    width: 90px;
    height: 40px;
    background-color: #004fff;
    border: none;
    color: white;
    box-shadow: 0 0.5px 1px ;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s;
}
button:focus{
    outline: 0;
}